.landing-content
{
	height:100%;
	display:flex;
	flex-direction:column;	
	align-items:center;
	justify-content:space-around;
}

.landing-content > .header > *
{
	text-align:center;
}


.landing-content > img
{
	width:100%;
	height:auto;
	max-width:450px;
}

.landing-content > button {
	width:90%;
	max-width:450px;
}